:root {
    --primary-color: #272727;
    --secondary-color: #8c8c8c;
    --tertiary-color: #731010;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--primary-color);
}

header {
    padding: 20px 35px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 56px;
    color: var(--secondary-color);
    margin: 0;
}

header h2 {
    font-weight: bold;
    font-size: 26px;
    color: var(--secondary-color);
    margin: 0;
}

header a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: all ease-in-out 0.15s;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

header nav ul li a:hover {
    color: #b0b0b0;
    border-radius: 15px;
    /* text-shadow: none; */
}

/* About Section */

.section-title h1 {
    line-height: 1.7;
    color: var(--secondary-color);
    font-size: 40px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

.section-title p {
    line-height: 1.7;
    color: var(--secondary-color);
    width: 70%;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

/* Music Section */

.video {
    margin-top: 30px;
    text-align: center;
}

/* Contact Section */